*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgray;
}

/* header */

.titolo-logo{
    background-color: white;
}

.logo{
    padding: 10px 5px 10px 30px;
    vertical-align: middle;
}

.titolo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

/* navigatore */

.navigatore{
    width: 75%;
    margin: auto;
    margin-top: 30px;
    background-color: white;
}

.add{
    border-bottom: 3px solid lightgray;
    padding: 15px 3px 10px 35px;
}

.add-task{
    display: inline-block;
    height: 30px;
    width: 85px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    background-color: lightskyblue;
}

.add-section{
    display: inline-block;
    height: 30px;
    width: 85px;
    line-height: 24px;
    text-align: center;
    border: 3px solid lightgray;
    border-radius: 5px;
    font-size: 13px;
}

/* contenuto */

.container{
    width: 75%;
    margin: auto;
    padding: 60px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.sottotitolo{
    font-size: 20px;
}

.check{
    text-align: center;
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 14px;
    border: 1px solid green;
    color: green;
    font-size: 11px;
    border-radius: 50%;
}

.bottone{
    display: inline-block;
    height: 25px;
    width: 65px;
    padding: 5px;
    line-height: 15px;
    text-align: center;
    border-radius: 11px;
    color: white;
    font-size: 11px;
    background-color: lightskyblue;
}

.section-today{
    margin-top: 30px;
}

.container-check , .margine{
    margin-top: 20px;
}

.bottoneviola{
    display: inline-block;
    height: 25px;
    width: 65px;
    padding: 5px;
    line-height: 15px;
    text-align: center;
    border-radius: 11px;
    color: white;
    font-size: 11px;
    background-color: purple;
}

.error{
    text-align: center;
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 14px;
    border: 1px solid red;
    color: red;
    font-size: 7px;
    border-radius: 50%;
}

.bottoneverde{
    display: inline-block;
    height: 25px;
    width: 65px;
    padding: 5px;
    line-height: 15px;
    text-align: center;
    border-radius: 11px;
    color: white;
    font-size: 11px;
    background-color: green;
}

.bottonearancione{
    display: inline-block;
    height: 25px;
    width: 65px;
    padding: 5px;
    line-height: 15px;
    text-align: center;
    border-radius: 11px;
    color: white;
    font-size: 11px;
    background-color:orange;
}

.bottonerosa{
    display: inline-block;
    height: 25px;
    width: 65px;
    padding: 5px;
    line-height: 15px;
    text-align: center;
    border-radius: 11px;
    color: white;
    font-size: 11px;
    background-color:rgb(255, 0, 191);
}

.bottoneverdechiaro{
    display: inline-block;
    height: 25px;
    width: 65px;
    padding: 5px;
    line-height: 15px;
    text-align: center;
    border-radius: 11px;
    color: white;
    font-size: 11px;
    background-color:rgb(0, 255, 76);
}